body{
    background-color: #000;
}

@font-face{
    src: url(Gotham-Font/Gotham-Black.otf);
    font-family: 'Gotham Black', sans-serif;
}

@font-face{
    src: url(Gotham-Font/Gotham-Bold.otf);
    font-family: 'Gotham', sans-serif;
}


.ff-bc{
    font-family: 'Barlow Condensed', sans-serif;
}
.ff-r{
    font-family: 'Roboto', sans-serif;
}


.ff-gb{
    font-family: 'Gotham Black', sans-serif;  
}
.ff-g{
    font-family: 'Gotham', sans-serif;  
}

.c-white{
    color:#fff;
}

.c-bg-b{
    background-color:#0E1013;
}

.c-g{
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
}

.c-red{
    color: #FF3F3F;
}

.c-bg-grey{
 background-color: #1B2028;
}


.fs-72{
    font-size: 72px;
}
.fs-28{
    font-size: 28px;
}
.fs-30{
    font-size: 28px;
}
.fs-64{
    font-size: 64px;
}

.fs-56{
    font-size: 56px!important;
}
.fs-48{
    font-size: 48px!important;
}
.fs-20{
    font-size: 20px;
}
.fs-18{
    font-size: 18px;
}

.fs-22{
    font-size: 22px;
}
.fs-14{
    font-size: 14px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fw-300{
    font-weight: 300;
}

.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}

.fw-100{
    font-weight: 100!important;
}

.br-16{
    border-radius: 16px;
}

@media(max-width:768px){
    .fs-72{
        font-size: 40px;
    }

    .fs-22{
        font-size: 20px;
    }

    .fs-md-24{
        font-size: 24px!important;
    }

    .fs-md-20{
        font-size: 20px!important;
    }
    .fs-md-32{
        font-size: 32px!important;
    }

    .fs-md-40{
        font-size: 40px!important;
    }

    .fs-md-50{
        font-size: 50px!important;
    }

    .fs-md-16{
        font-size: 16px!important;
    }

}

@media (max-width:576px){
    .fs-sm-16{
        font-size: 16px!important;
    }
    .fs-sm-20{
        font-size: 20px!important;
    }
    .fs-sm-24{
        font-size: 24px!important;
    }

    .fs-sm-32{
        font-size: 32px!important;
    }
    .fs-sm-40{
        font-size: 40px!important;
    }

    .fw-md-500{
        font-weight: 500!important;
    }

    .mt-39{
        margin-top: 39px!important;
    }

    .l-height-sm-40{
        line-height: 40px!important;
    }
}

.text-g{
    background-color: #fff; 
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
    background-size: 100%!important;
    background-repeat: repeat!important;
     background-clip: text;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important; 
    -moz-background-clip: text!important;
    -moz-text-fill-color: transparent!important;
    display: inline-block;
}

.l-space-1{
    letter-spacing: 1px;
}

.l-space-2{
    letter-spacing: 1.2px;
}
.l-space-3{
    letter-spacing: 1.4px;
}
.l-space-4{
    letter-spacing: 1.6px;
}
.l-space-5{
    letter-spacing: 1.8px;
}
.l-space-6{
    letter-spacing: 2px;
}
.l-space-7{
    letter-spacing: 2.4px;
}

/* Line-heights */
.l-height-32{
    line-height: 32px;
}
.l-height-50{
    line-height: 50px;
}
.l-height-32{
    line-height: 32px;
}

.l-height-01{
    line-height: 1;
}
.l-height-02{
    line-height: 1.2;
}

.l-height-1{
    line-height: 1.3;
}
.l-height-2{
    line-height: 1.6;
}

.l-height-desk-0{
    line-height: 0.8;
}

/* margins */
.mt-35{
    margin-top: 35px;
}
/* Navbar */
.navbar{
    padding: 39px 4%;
}
.btn-g{
    border-radius: 0;
    border-style: none;
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
}

.navbar .btn-g{
    padding: 7px 27px;
    font-size: 18px;
    font-weight: 600;
}

.navbar .collapse .navbar-nav li a{
    color: #fff!important;
}

/* Main */

.h-main{
    font-family: 'Gotham Black', sans-serif;
    font-size: 56px!important;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.h-main{
    margin: 0 auto;
}

.main-cart{
    max-width: 1151px;
    margin: 70px auto;
}

.main-cart-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 35px;
}

.arrow-down{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    bottom: 125px;
    right: 110px;
    align-self: start;
    justify-self: end;
    z-index: 2;
}
.arrow-up{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    align-self: end;
    justify-self: end;
    z-index: 2;
    left: 20px;
    bottom: 50px;
}

.order-details{
    grid-column: 1/2;
    grid-row: 1/2;
}
.cart-reviews{
    grid-column: 1/2;
    grid-row: 2/3;
}
.features{
    grid-column: 1/2;
    grid-row: 3/4;
}
.cart{
    grid-column: 2/3;
    grid-row: 1/-1;
}

.small-logo{
    background-color: #1B2028;
    border-radius: 16px;
    padding: 14px;
}
.o-d-b{
    padding: 5px 16px;
    display: inline-block;
    width: 161px;
    border-radius: 4px;
    border: none;
}

.features img{
    max-width: 32px;

}

.features-p{
    text-decoration: line-through;
}

/* Cart */

.cart{
    grid-column: 2/3;
    grid-row: 1/-1;
    background-color: #fff;
    padding: 48px 48px 20px 48px;
}

.cart-p-2, .cart-p-3{
    padding: 14px 5px;
    background-color: #EBEBEB;
    height: 54px;
}

.inp{
    height: 53px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1.2px;
    border-radius: 0;
    border-color: #000;
}

.hr{
    height: 1px;
    width: 100%;
    background-color: #000;
}

.cart-g-div{
    border-radius: 6px;
}
.credit-img{
    width: 90%;
}
