@font-face{
    src: url(Gotham-Font/Gotham-Black.otf);
    font-family: 'Gotham Black', sans-serif;
}

@font-face{
    src: url(Gotham-Font/Gotham-Bold.otf);
    font-family: 'Gotham', sans-serif;
}



.ff-gb{
    font-family: 'Gotham Black', sans-serif;  
}
.ff-g{
    font-family: 'Gotham', sans-serif;  
}

.c-white{
    color:#fff;
}

.c-bg-b{
    background-color:#0E1013;
}

.c-g{
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
}

.fs-72{
    font-size: 72px;
}

.fs-64{
    font-size: 64px;
}

.fs-22{
    font-size: 22px;
}

.fs-24{
    font-size: 24px;
}

.fw-600{
    font-weight: 600;
}

.fw-900{
    font-weight: 900;
}

.fw-100{
    font-weight: 100;
}

@media(max-width:768px){
    .fs-72{
        font-size: 40px;
    }

    .fs-22{
        font-size: 20px;
    }

    .fs-md-24px{
        font-size: 24px!important;
    }

    .fs-md-20{
        font-size: 20px!important;
    }
    .fs-md-32{
        font-size: 32px!important;
    }

    .fs-md-40{
        font-size: 40px!important;
    }

    .fs-md-16{
        font-size: 16px!important;
    }

}

@media (max-width:576px){
    .fs-sm-16{
        font-size: 16px!important;
    }
    .fs-sm-20{
        font-size: 20px!important;
    }

    .fs-sm-32{
        font-size: 32px;
    }
}

.text-g{
    background-color: #fff; 
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
    background-size: 100%!important;
    background-repeat: repeat!important;
     background-clip: text;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important; 
    -moz-background-clip: text!important;
    -moz-text-fill-color: transparent!important;
    display: inline-block;
}

.l-space-2{
    letter-spacing: 1.2px;
}
.l-space-3{
    letter-spacing: 1.4px;
}
.l-space-4{
    letter-spacing: 1.6px;
}
.l-space-5{
    letter-spacing: 1.8px;
}
.l-space-6{
    letter-spacing: 2px;
}
.l-space-7{
    letter-spacing: 2.4px;
}

/* Line-heights */

.l-height-1{
    line-height: 1.3;
}

.l-height-desk-0{
    line-height: 0.8;
}

/* Header */

header{
    background-color: #121212;
}

/* Navbar */

.navbar{
    padding: 39px 4%;
}



.btn-g{
    border-radius: 0;
    border-style: none;
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
}

.navbar .btn-g{
    padding: 7px 27px;
    font-size: 18px;
    font-weight: 600;
}

.navbar .collapse .navbar-nav li a{
    color: #fff!important;
}

/* Hero Section */

.hero{
    color: #fff;
}

.hero-1{
    display: grid;
    grid-template-columns: 19% 62% 19%;
    grid-template-rows: 1fr;
}

.hero-1 h1{
    line-height: 1;
}

.hero-h-div{
    position: relative;
    bottom: 20px;
}

.hero-1-content{
    grid-column: 2/3;
    grid-row: 1/2;
}

.h1-c-s1{
    background: radial-gradient(105.36% 862.43% at 5.36% 115.38%, #980F30 0%, #FF4949 100%);
    padding: 5px 12px;
    color: #fff;
}


.h1-btn-1{
    letter-spacing: 1.2px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 279px;
}

.h1-btn-2{
    letter-spacing: 0px;
}

.outline-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 2px;
    padding-right: 2px; */
    padding: 2px;;
    min-width: 279px;
}
.outline-btn{
    background: #121212;
    color: #fff;
    border: none;
    min-width: 275px!important;
    min-height: 60px;
}


/* Timer */
/* Clock */

    #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display:flex;
    font-weight: 100;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
  }

  #clockdiv .time-box{
    padding: 0;
    border-radius: 0;
    background-color: #000;
    display: inline-flex;
    width: 116px;
    height: 151px;
    align-items: center;
    justify-content: center;
    margin-left: 0
  }
  
  #clockdiv > div{
    padding: 20px;
    border-radius: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  #clockdiv div > span{
    font-size: 64px;
  }
  
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  
  }

  .gradient-box {
  
    display: flex;
    align-items: center;
    //width: 50vw;
    width: 90%;
    margin: auto;
    max-width: 22em;
  
    position: relative;
    padding: 30% 2em;
    box-sizing: border-box;
  
    $border: 5px;
    color: #FFF;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, red, orange);
    }
}

@media (max-width:1024px) {
    .hero-1-content{
        grid-column: 1/-1;
    }

    .hero-h-div{
        position: relative;
        bottom: 0px;
    }
}

@media (max-width:576px) {
    .h1-btn-1{
        padding-left: 10px;
        padding-right: 10px;
        min-width: 160px;
        height: 40px;
        font-size: 20px!important;
        padding-top: 6px!important;
    }
    
    .outline-div{
        height: 40px;
        min-width: 160px;
    }
    .outline-btn{
        background: #121212;
        color: #fff;
        border: none;
        min-width: 160px!important;
        min-height: 36px;
    }

    .l-height-0{
        line-height: 1!important;
    }

    /* timer */

    #clockdiv{
        font-family: sans-serif;
        color: #fff;
        display:flex;
        font-weight: 100;
        font-size: 18px;
        font-weight: 600;
        justify-content: center;
      }
    
      #clockdiv .time-box{
        padding: 0;
        border-radius: 0;
        background-color: #000;
        display: inline-flex;
        width: 106px;
        height: 138px;
        align-items: center;
        justify-content: center;
        margin-left: 0
      }
      
      #clockdiv > div{
        padding: 20px;
        border-radius: 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
      
      #clockdiv div > span{
        font-size: 48px;
      }
      
      
      .smalltext{
        padding-top: 5px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin: 0 auto;
      
      }
}




/* Video Section     */

.v-section {
    margin-top: 100px;
}

.v-h{
    letter-spacing: 3px;
    word-spacing: 4px;
}

.v-grid{
    display: grid;
    grid-template-columns: 18.5% 884px 18.5%;
    grid-template-rows: 1fr;
    padding-bottom: 160px;
    justify-content: center;
}
.v-e-1{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
    position: relative;
    top:20px;
    right: 70px;
}
.v-e-2{
    grid-column: 3/4;
    grid-row: 1/2;
}

.v-g-box{
    height: 524px;
    width: 906px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 1/2;

}

.v-b-box{
    height: 484px;
    width: 866px; 
    border-radius: 10px;
}

@media (max-width:1024px) {
    .v-grid{
        grid-template-columns: 1fr 600px 1fr;
    }
    .v-g-box{
        width: 600px;
        height: 350px;
    }
    .v-b-box{
        width: 560px;
        height: 310px;
    }
}
@media (max-width:576px) {
    .v-grid{
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 70px;
    }
    .v-g-box{
        width: 300px;
        height: 200px;
        padding: 10px;
        border-radius: 5px;
    }
    .v-b-box{
        width: 280px;
        height: 180px;
        border-radius: 5px;
    }
    .v-e-1{
        top: -20px;
        right: 25px;
    }
}

/* license */



.license-top{
    height: 427px;
    width: 722px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 0 auto;
}

.license-bottom{
    height: 470px;
    width: 100%;
}

.l-glass{
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 722px;
    height: 750px;
    margin-top: 81px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 30px;
}

.l-s-1{
    border: 1px solid white;
    padding: 8px 15px;
    letter-spacing: 1.2px;
    position: relative;
    bottom: 5px;
}

.l-p-1, .l-p-2{
    letter-spacing: 1.2px;
}

.l-p-4{
    text-decoration: line-through;
}

.l-p-6{
    font-weight: 100;
}

.l-btn{
    min-height: 65px;
    min-width: 450px;
    font-size: 18px;
    letter-spacing: 1.4px;
    border: none;
    border-radius: 4px; 
}
:root {
    --purple: #7f00ff;
    --pink: #e100ff;
  }

.l-btn-div{
    padding: 0;
    min-height: 67px;
    min-width: 452px;
    font-size: 18px;
    letter-spacing: 1.4px;
}

.box-shadow-g{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    position: relative;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #fff;
    z-index: 2;
    
    /* Our gradient */
     background: linear-gradient(88.79deg, #60B1FD -5.16%, #F49AEA 47.08%, #FFB2AE 98.23%);;
  }

  .box-shadow-g:after {
    content: "";
    position: absolute;
    z-index: -1;
    
    height: 105%;
    width: 101%;
    opacity: 0.8;
    border-radius: 4px;
    
    /* Declaring our shadow color inherit from the parent (button) */
    background: inherit;
    
    /* Blurring the element for shadow effect */
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    
    /* Transition for the magic */
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .l-e-1{
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: end;
      align-self: top;
      position: relative;
      top: 200px;
      left: 93px;
  }
  .l-e-2{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: top;
    position: relative;
    top: 200px;
    right: 173px;
}

.l-e-3{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
    position: relative;
    bottom: 25px;
    right: 50px;
}

@media (max-width:786px) {
    .license-top{
        height: 427px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        margin: 0 auto;
    }
    
    .license-bottom{
        height: 470px;
        width: 100%;
    }
    
    .l-e-1{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        align-self: top;
        position: relative;
        top: 200px;
        left: 0px;
    }
    .l-glass{
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 80%;
        height: 750px;
        margin-top: 81px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 15px );
        -webkit-backdrop-filter: blur( 15px );
        border-radius: 30px;
    }
    
}

@media (max-width:576px){
    .license-top{
        height: 370px;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        margin: 0 auto;
    }
    
    .license-bottom{
        height: 350px;
        width: 100%;
    }
    
    .l-e-1{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: end;
        align-self: top;
        position: relative;
        top: 120px;
        left: -20px;
    }
    .l-glass{
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 90%;
        height: 650px;
        margin-top: 50px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 15px );
        -webkit-backdrop-filter: blur( 15px );
        border-radius: 16px;
    }
    .l-btn{
        min-height: 50px;
        min-width: 280px;
        font-size: 18px;
        letter-spacing: 1.4px;
        border: none;
        border-radius: 4px; 
    }
    :root {
        --purple: #7f00ff;
        --pink: #e100ff;
      }
    
    .l-btn-div{
        padding: 0;
        min-height: 52px;
        min-width: 282px;
        font-size: 18px;
        letter-spacing: 1.4px;
    }
    .l-p-3{
        font-size: 20px!important;
        position: relative;
    }

    .l-s-1{
        font-size: 20px!important;
    }

    .l-p-5{
        font-size: 28px!important;
    }

    .license-top{
        max-height: 390px;
    }

}

/* Guarantee */

.guarantee{
    padding: 0 22%;
}

@media(max-width:768px){
    .guarantee{
        padding: 0 10%;
    }
}

/* Creativity */
.creativity{
    padding-top: 120px;
}

.creativity-p-div{
    max-width: 570px;
    line-height: 1.6;
}

.c-flex-div{
    min-width: 100%;
}

.c-grid{
    display: grid;
    grid-template-columns: 1fr 942px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.c-main-img{
    position: relative;
    z-index: 2;
}
.c-div{
    grid-column: 2/3;
    grid-row: 1/2; 
    align-items: top; 
    width: 942px;
}

.c-e-3{
    grid-column: 2/3;
    grid-row: 1/2; 
    align-self: center;
    justify-self: end;
    position: relative;
    bottom: 160px;
    right: 100px;
}

.c-e-4{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    align-self: center;
    bottom: 160px;
    left: 30px;
}

.c-e-1{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    transform: rotate(180deg);
    position: relative;
    bottom: 70px;
}
.c-e-2{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: end;
    transform: rotate(180deg);
    position: relative;
    bottom: 70px;
}

.c-e-5{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    position: relative;
    bottom: 50px;
    left: 190px;
}

.creativity-p-div{
    grid-column: 2/3;
    grid-row: 1/2;  
    justify-self: center;
}

.c-p-1{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    justify-self: start;
    position: relative;
    bottom: 50px;
    left: 100px;
    line-height: 1.2;
}

.c-p-2{
    grid-column: 2/3;
    grid-row: 1/2; 
    align-self: end;
    justify-self: end; 
    position: relative;
    bottom: 50px;
    right: 105px;
    line-height: 1.2; 
}

.c-big-p-div{
    max-width: 755px;
}

.c-small-p-div{
    max-width: 700px;
    margin-top: 111px;
}

.c-image-collection-row{
    width: 1121px;
}

@media(max-width:768px){

    .c-grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 768px;
    }
    .c-div{
        max-width:768px;
        justify-self: center;
    }

    .c-main-img{
        max-width:768px;
        margin-top: 0px;
    }

    .c-e-5{
        left:125px;
        bottom: 150px;
    }
    .c-p-1{
        left: 110px;
    }
    .c-p-2{
        right: 110px;
    }

    .creativity{
        padding-top: 70px;
    }

}
@media(max-width:576px){
    .creativity{
        padding-top: 40px;
    }

    .c-grid{
        width: 340px;
        margin: 0 auto;
    }
    .c-div{
        max-width:340px;
        justify-self: center;
        margin-top: 100px;
    }

    .c-main-img{
        max-width:340px;
        margin-top: 20px;
    }

    .c-e-5{
        left:50px;
        bottom: 0px;
    }
    .c-p-1{
        left: 25px;
        bottom: 0;
    }
    .c-p-2{
        right: 25px;
        bottom: 0;
    }

}



/* Purchase */

.pur-grid{
    display: grid;
    grid-template-columns: 1fr 840px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.pur-g-box{
    max-width: 375px;
    min-width: 375px;
    height: 130px;
    border-radius: 10px;
}

.pur-b-box{
    min-width: 375px;
    max-width: 375px;
    height: 130px;
    border-radius: 10px;

}

.pur-e-1{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: start;
    justify-self: start;
}

.pur-main{
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 850px;
}
.pur-e-1{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    justify-self: end;
}

@media(max-width:1024px){
    .pur-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .pur-e-1{
       grid-column: 1/2; 
       grid-row: 1/2;
       align-self: start;
       justify-content: start;
    }
    .pur-main{
       grid-column: 1/2; 
       grid-row: 1/2;
       justify-self: center;
    }
    .pur-e-1{
        grid-column: 1/2; 
        grid-row: 1/2;
        align-self: end;
        justify-content: end;
     }
}